@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and base styles */
html,
body {
  margin: 0;
  padding-top: 64px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #F7F7F7; /* Matches the background color from the colors config */
  color: #333333; /* Default text color */
  line-height: 1.6;
}

/* Utility classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
